asgiref==3.4.1
attrs==21.2.0
decorator==5.1.0
dj-database-url==0.5.0
Django==3.0.7
django-heroku==0.0.0
gunicorn==20.1.0
jedi==0.18.0
Jinja2==3.0.2
pipenv==2021.11.15
platformdirs==2.4.0
psycopg==3.0.1
psycopg2-binary==2.8.6
pycparser==2.21
Pygments==2.10.0
pyparsing==2.4.7
pyrsistent==0.18.0
python-dateutil==2.8.2
pytz==2021.3
pyzmq==22.3.0
sqlparse==0.4.2
stevedore==3.5.0
terminado==0.12.1
testpath==0.5.0
tornado==6.1
traitlets==5.1.1
wcwidth==0.2.5
webencodings==0.5.1
whitenoise==5.3.0
zipp==3.6.0
